---
import PostsLayout from "../../layouts/PostsLayout.astro";
---

<PostsLayout>
  <!-- <PostsContainer /> -->

  <div class="ezra">
    <!-- <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-0610053756453486"
      crossorigin="anonymous"
    ></script> -->
    <!-- ArticleBanner -->
    <!-- <ins
      class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-0610053756453486"
      data-ad-slot="9830422511"
      data-ad-format="auto"
      data-full-width-responsive="true"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script> -->
  </div>
</PostsLayout>

<style lang="scss">
  .ezra {
    margin-block: 12rem;
    height: calc(30vh);
    display: flex;
    flex-direction: column;
  }
</style>
