$browser-context: 16;

@function rem($pixels, $context: $browser-context) {
    @return #{calc($pixels/$context)}rem;
}

@mixin bp($bp, $min-max: min-width) {
    $em: calc($bp/$browser-context);

    @media (#{$min-max}: #{$em}em) {
        @content;
    }
}