---
import Header from "../components/Header.astro";
import MetaHead from "../components/MetaHead.astro";
---

<html lang="en">
  <head>
    <MetaHead
      title="Jech | Not Found"
      description="My name is Jech and I'm a Freelance Web Developer and designer from the Philippines"
    />
    <style>
      main {
        margin-inline: auto;
        max-width: 1040px;
        height: 70vh;
        display: grid;
        place-content: center;
      }
    </style>
  </head>
  <body>
    <div class="container-grid">
      <Header />
      <main class="main-container transition-fade" id="swup">
        <h1>404</h1>
      </main>
    </div>
  </body>
</html>
