---
import ArchiveList from "./ArchiveList.astro";
---

<main class="main-container transition-fade" id="swup">
  <ArchiveList />
</main>

<!-- <style lang="scss">
  @import "../styles/mixin.scss";
  .main-container {
    @include bp(1200) {
      margin-right: -2rem;
      margin-left: -2rem;
    }
  }
</style> -->
