---
const { text, className, url, title, hasIcon } = Astro.props;
---

<a
  href={url || "/"}
  class={className ? className + " " + "flex" : ""}
  title={title}
  >{text}
  {(<Fragment set:html={hasIcon ? hasIcon : ""} />)}
</a>

<style lang="scss">
  @import "../styles/mixin.scss";
  .flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cta {
    background-color: var(--c-green);
    color: var(--c-black);
    padding: rem(10);
    border-radius: var(--radius);
    width: 100%;
    height: fit-content;
    max-width: rem(190);
    text-align: center;
    font-size: rem(14);
    font-weight: 600;
    font-family: var(--f-roboto-mono);
    letter-spacing: 1px;
    transition: 200ms;
    &-link {
      background-color: transparent;
      padding-left: rem(2);
      width: auto;
      text-align: left;
      justify-content: flex-start;
      margin-top: rem(20);
      font-size: rem(14);
      color: var(--c-green);
      font-weight: 400;
    }
    .svg {
      margin-left: rem(10);
      transition: 200ms ease-in-out;
      display: flex;
    }
    &:hover {
      filter: drop-shadow(0px 0px 4px lightblue);

      letter-spacing: 2px;
      .svg {
        margin-left: rem(16);
      }
    }
  }
</style>
