---
import TopFold from "./TopFold.astro";
---

<main class="main-container transition-fade" id="swup">
  <TopFold />
</main>

<style lang="scss">
  @import "../styles/mixin.scss";
  .main-container {
    margin-inline: auto;
    margin-top: auto;
    @include bp(1024) {
      margin-right: -2rem;
      margin-left: -2rem;
    }
  }
</style>
