---
// const me = "./assets/me.svg";
// const mepng = "./assets/me.png";
---

<div
  class="recent-project me-image swup-delay-anim"
  style="animation-delay: var(--delay400)"
>
  <p class="-title">Recent project.</p>
  <ul class="-list">
    <li>
      <div class="-description">
        <a
          href="https://github.com/j3rech0/watchlyst"
          title="Watchlyst source code"
          target="_blank">Watchlyst</a
        >
        <p>
          Using TMDB API, WATCHLYST is a React Native app with a Home screen
          featuring Trending, Popular, and Top rated categories, search, Movie
          details, and About sections.
        </p>

        <a
          href="https://github.com/j3rech0/watchlyst"
          title="Watchlyst source code"
          target="_blank"
          class="-links"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            role="img"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-github"
            ><title>GitHub source code</title><path
              d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"
            ></path></svg
          >
        </a>

        <a
          href="https://mega.nz/file/w8pmmSBD#UmH5dfJBYKpHU_qIYZNXqNs-QppenLfylSvrJTwDXog"
          title="Download the app"
          target="_blank"
          class="-links"
        >
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="svgHover"
          >
            <g clip-path="url(#clip0_1001_2)">
              <path
                d="M12 0C5.372 0 0 5.372 0 12C0 18.628 5.372 24 12 24C18.628 24 24 18.628 24 12C24 5.372 18.628 0 12 0ZM18.23 16.244C18.2301 16.293 18.2206 16.3415 18.2019 16.3867C18.1831 16.432 18.1557 16.4731 18.121 16.5077C18.0863 16.5423 18.0451 16.5697 17.9998 16.5882C17.9545 16.6068 17.906 16.6163 17.857 16.616H16.29C16.2411 16.6161 16.1927 16.6066 16.1475 16.588C16.1023 16.5693 16.0612 16.5419 16.0267 16.5073C15.9921 16.4728 15.9647 16.4317 15.946 16.3865C15.9274 16.3413 15.9179 16.2929 15.918 16.244V11.416C15.918 11.376 15.872 11.356 15.838 11.383L12.518 14.703C12.3791 14.8402 12.1917 14.9172 11.9965 14.9172C11.8013 14.9172 11.6139 14.8402 11.475 14.703L8.155 11.383C8.128 11.356 8.075 11.376 8.075 11.416V16.244C8.07513 16.2929 8.0656 16.3413 8.04695 16.3865C8.0283 16.4317 8.00091 16.4728 7.96634 16.5073C7.93177 16.5419 7.89071 16.5693 7.84551 16.588C7.80032 16.6066 7.75189 16.6161 7.703 16.616H6.136C6.08711 16.6161 6.03868 16.6066 5.99349 16.588C5.94829 16.5693 5.90723 16.5419 5.87266 16.5073C5.83809 16.4728 5.8107 16.4317 5.79205 16.3865C5.7734 16.3413 5.76387 16.2929 5.764 16.244V7.757C5.764 7.551 5.93 7.385 6.136 7.385H7.212C7.40911 7.38649 7.59771 7.46553 7.737 7.605L11.867 11.735C11.8838 11.7525 11.904 11.7665 11.9263 11.776C11.9487 11.7856 11.9727 11.7905 11.997 11.7905C12.0213 11.7905 12.0453 11.7856 12.0677 11.776C12.09 11.7665 12.1102 11.7525 12.127 11.735L16.257 7.605C16.397 7.465 16.582 7.385 16.782 7.385H17.857C18.063 7.385 18.229 7.551 18.229 7.757L18.23 16.244Z"
                fill="#494949"></path>
            </g>
            <defs>
              <clipPath id="clip0_1001_2">
                <rect width="24" height="24" fill="#494949"></rect>
              </clipPath>
            </defs>
          </svg>
        </a>
        <a
          href="https://www.apkfiles.com/apk-611687/watchlyst"
          title="Download the app"
          target="_blank"
          class="-links"
        >
          <svg
            width="20"
            height="22"
            viewBox="0 0 20 22"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="svgHover"
          >
            <path
              d="M12.9749 2.01903L13.9349 0.287028C13.9472 0.264835 13.9549 0.24044 13.9578 0.215237C13.9606 0.190035 13.9585 0.164517 13.9515 0.140142C13.9445 0.115766 13.9327 0.0930105 13.9169 0.0731735C13.9011 0.0533365 13.8816 0.0368068 13.8594 0.0245282C13.8372 0.0122496 13.8128 0.00446257 13.7876 0.00161167C13.7624 -0.00123922 13.7369 0.000901897 13.7125 0.00791272C13.6881 0.0149235 13.6654 0.0266668 13.6455 0.042472C13.6257 0.0582772 13.6092 0.0778348 13.5969 0.100028L12.6269 1.85003C11.7988 1.48698 10.9045 1.29954 10.0004 1.29954C9.09624 1.29954 8.20192 1.48698 7.37388 1.85003L6.40388 0.100028C6.37908 0.0549414 6.33739 0.0215521 6.28797 0.00720557C6.23856 -0.00714096 6.18547 -0.00126956 6.14038 0.0235282C6.09529 0.0483259 6.0619 0.0900187 6.04756 0.139435C6.03321 0.18885 6.03908 0.241941 6.06388 0.287028L7.02388 2.01903C6.11047 2.46952 5.33874 3.16283 4.79333 4.02294C4.24791 4.88304 3.94987 5.87673 3.93188 6.89503H16.0689C16.0507 5.87652 15.7524 4.88269 15.2066 4.02256C14.6608 3.16243 13.8887 2.46924 12.9749 2.01903ZM7.19988 4.67403C7.09956 4.67403 7.0015 4.64427 6.9181 4.58851C6.83471 4.53276 6.76972 4.45352 6.73138 4.36082C6.69303 4.26812 6.68305 4.16612 6.7027 4.06775C6.72234 3.96937 6.77073 3.87904 6.84173 3.80817C6.91274 3.73731 7.00317 3.6891 7.10158 3.66965C7.2 3.6502 7.30197 3.66038 7.3946 3.69891C7.48722 3.73744 7.56633 3.80257 7.62192 3.88608C7.67751 3.96959 7.70708 4.06771 7.70688 4.16803C7.70662 4.30232 7.65308 4.43102 7.55803 4.52589C7.46298 4.62075 7.33417 4.67403 7.19988 4.67403ZM12.8019 4.67403C12.7016 4.67403 12.6035 4.64427 12.5201 4.58851C12.4367 4.53276 12.3717 4.45352 12.3334 4.36082C12.295 4.26812 12.2851 4.16612 12.3047 4.06775C12.3243 3.96937 12.3727 3.87904 12.4437 3.80817C12.5147 3.73731 12.6052 3.6891 12.7036 3.66965C12.802 3.6502 12.904 3.66038 12.9966 3.69891C13.0892 3.73744 13.1683 3.80257 13.2239 3.88608C13.2795 3.96959 13.3091 4.06771 13.3089 4.16803C13.3086 4.30232 13.2551 4.43102 13.16 4.52589C13.065 4.62075 12.9362 4.67403 12.8019 4.67403ZM3.92988 16.171C3.92962 16.3641 3.96747 16.5553 4.04126 16.7337C4.11505 16.9121 4.22334 17.0742 4.35991 17.2107C4.49647 17.3472 4.65864 17.4554 4.8371 17.529C5.01556 17.6027 5.20681 17.6404 5.39988 17.64H6.37288V20.64C6.37288 21.0009 6.51622 21.3469 6.77136 21.602C7.02651 21.8572 7.37255 22.0005 7.73338 22.0005C8.09421 22.0005 8.44026 21.8572 8.6954 21.602C8.95054 21.3469 9.09388 21.0009 9.09388 20.64V17.64H10.9079V20.64C10.9079 21.0007 11.0512 21.3466 11.3062 21.6017C11.5613 21.8567 11.9072 22 12.2679 22C12.6286 22 12.9745 21.8567 13.2295 21.6017C13.4846 21.3466 13.6279 21.0007 13.6279 20.64V17.64H14.6019C14.7947 17.6402 14.9857 17.6023 15.1638 17.5286C15.342 17.4548 15.5039 17.3467 15.6402 17.2104C15.7765 17.074 15.8847 16.9121 15.9584 16.734C16.0321 16.5558 16.07 16.3648 16.0699 16.172V7.37503H3.92988V16.171ZM2.06288 7.14103C1.70218 7.14156 1.35641 7.28515 1.10145 7.5403C0.846484 7.79545 0.703145 8.14132 0.702881 8.50203V14.171C0.702881 14.3496 0.738058 14.5265 0.806405 14.6915C0.874751 14.8565 0.974928 15.0064 1.10122 15.1327C1.2275 15.259 1.37743 15.3592 1.54243 15.4275C1.70743 15.4959 1.88428 15.531 2.06288 15.531C2.24148 15.531 2.41833 15.4959 2.58333 15.4275C2.74833 15.3592 2.89826 15.259 3.02455 15.1327C3.15083 15.0064 3.25101 14.8565 3.31936 14.6915C3.3877 14.5265 3.42288 14.3496 3.42288 14.171V8.50203C3.42235 8.1415 3.2789 7.79588 3.02396 7.54095C2.76903 7.28601 2.42341 7.14256 2.06288 7.14203V7.14103ZM17.9349 7.14103C17.5742 7.14156 17.2284 7.28515 16.9734 7.5403C16.7185 7.79545 16.5751 8.14132 16.5749 8.50203V14.171C16.5749 14.3496 16.6101 14.5265 16.6784 14.6915C16.7468 14.8565 16.8469 15.0064 16.9732 15.1327C17.0995 15.259 17.2494 15.3592 17.4144 15.4275C17.5794 15.4959 17.7563 15.531 17.9349 15.531C18.1135 15.531 18.2903 15.4959 18.4553 15.4275C18.6203 15.3592 18.7703 15.259 18.8965 15.1327C19.0228 15.0064 19.123 14.8565 19.1914 14.6915C19.2597 14.5265 19.2949 14.3496 19.2949 14.171V8.50203C19.2944 8.1415 19.1509 7.79588 18.896 7.54095C18.641 7.28601 18.2954 7.14256 17.9349 7.14203V7.14103Z"
              fill="#494949"></path>
          </svg>
        </a>
      </div>
    </li>
  </ul>
  <!-- <img src={me} alt="Me" class="me" width="317" />
  <img src={mepng} alt="Jech" class="me-png" width="317" /> -->
</div>

<style lang="scss">
  @import "../styles/mixin.scss";
  .recent-project {
    @include bp(1000) {
      max-width: 540px;
      width: 100%;
      margin-left: auto;
    }
    .svgHover {
      &:hover {
        path {
          fill: var(--c-green);
        }
      }
    }
    .-links {
      width: 22px;
      display: block;
      color: var(--c-gray-200);
      margin-top: rem(5);
    }
    .-title {
      color: var(--c-gray-400);
    }
    .-list {
      margin-top: calc(5vw / 2);
    }
    .-list > li {
      display: flex;
      flex-flow: row wrap;
    }

    li > .-description {
      color: var(--c-gray-400);
      font-size: 14px;
      letter-spacing: 1px;
      background: hsl(var(--c-black-100) / 0.6);
      padding: 20px;
      border: 1px solid var(--c-black-200);
      line-height: 1.6;
      > a {
        font-size: rem(13);
        transition: 200ms;
        &:hover {
          color: var(--c-green);
        }
        &:has(svg) {
          display: inline-flex;
          + a {
            margin-left: rem(15);
          }
        }
      }
    }
  }
  .me-image {
    position: relative;
    transition: 200ms;

    &:hover {
      .me {
        filter: blur(7px) opacity(0);
        &-png {
          filter: blur(0) opacity(1);
        }
      }
    }
  }
  .me {
    &-png {
      filter: blur(7px) opacity(0);
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      margin: auto;
      transition: 300ms;
      max-width: rem(300);
      @include bp(1000) {
        left: inherit;
      }
    }
    @include bp(1000) {
      margin-left: auto;
      display: block;
      max-width: rem(300);
    }
  }
</style>
