---
import PostsItems from "./PostsItems.astro";
import { getCollection } from "astro:content";
const posts = await getCollection("blog");
---

<main class="main-container transition-fade" id="swup">
  <PostsItems posts={posts} />
</main>

<style lang="scss">
  @import "../styles/mixin.scss";
  .main-container {
    margin-inline: auto;
    margin-top: 3rem;
    @include bp(964){
      margin-top: auto;
    }
    @include bp(1200) {
      width: 100%;
    }
  }
</style>
