---
import { getCollection, type CollectionEntry } from "astro:content";

const posts = await getCollection("blog");
export interface Props {
  post: CollectionEntry<"blog">;
}

const { slug } = Astro.params;
const p = posts.find((page) => page.slug === slug);
if (!p) return Astro.redirect("/404");
const { Content } = await p.render();
---

<div class="project-container">
  <Content />
</div>

<style lang="scss">
  @import "../styles/mixin.scss";
  .project {
    &-container {
      max-width: var(--w-full);
      margin-inline: auto;
      margin-block: rem(50);
    }
  }
</style>
