---
import type { CollectionEntry } from "astro:content";

export interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
if (!post) return Astro.redirect("/404");
const { Content } = await post.render();
---

<div class="project-container">
  <Content />
</div>

<style lang="scss">
  @import "../styles/mixin.scss";
  .project {
    &-container {
      max-width: var(--w-full);
      margin-inline: auto;
      margin-block: rem(50);
    }
  }
</style>
