---
import type { CollectionEntry } from "astro:content";

export interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<div class="project-container">
  <div class="ezra">
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-0610053756453486"
      crossorigin="anonymous"
    ></script>
    <!-- ArticleBanner -->
    <ins
      class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-0610053756453486"
      data-ad-slot="9830422511"
      data-ad-format="auto"
      data-full-width-responsive="true"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
  <Content />
</div>

<style lang="scss">
  @import "../styles/mixin.scss";
  .project {
    &-container {
      max-width: var(--w-full);
      margin-inline: auto;
      margin-block: rem(50);
    }
  }
</style>
