---
import { CollectionEntry, getCollection } from "astro:content";

const posts = await getCollection("blog");
type Props = CollectionEntry<"blog">;

const { slug } = Astro.params;
const post = posts.find((page) => page.slug === slug);
if (!post) return Astro.redirect("/404");
const { Content } = await post.render();
---

<div class="project-container">
  <Content />
</div>

<style lang="scss">
  @import "../styles/mixin.scss";
  .project {
    &-container {
      max-width: var(--w-full);
      margin-inline: auto;
      margin-block: rem(50);
    }
  }
</style>
