---
import SocialList from "./SocialList.astro";
const socialMedia = [
  {
    title: "devui2022",
    url: "https://dribbble.com/devui2022",
    src: "../assets/dribbble.svg",
  },
  {
    title: "devUI youtube channel",
    url: "https://www.youtube.com/channel/UCZnuUnd4XeKxfuTPFFs9OBA",
    src: "../assets/youtube.svg",
  },
  {
    title: "devUI codepen",
    url: "https://codepen.io/co0kie",
    src: "../assets/codepen.svg",
  },
];
---

<div>
  {
    socialMedia.map((item) => (
      <SocialList title={item.title} url={item.url} src={item.src} />
    ))
  }
</div>
<style lang="scss">
  div {
    margin-top: auto;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
  }
</style>
