---
import Intro from "../components/Intro.astro";
import Me from "./Me.astro";
---

<section class="top-fold">
  <Intro />
  <Me />
</section>

<style lang="scss">
  @import "../styles/mixin.scss";

  .top-fold {
    cursor: default;
    margin-inline: auto;
    @include bp(480) {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
      place-content: center;
      align-items: flex-start;
      column-gap: 50px;
      row-gap: 50px;
    }
    @include bp(964) {
      height: 75vh;
    }
    @include bp(1024) {
      // padding-bottom: rem(20);
      // padding-inline: rem(30);
      max-width: 1200px;
    }
    
  }
</style>
