---
import Intro from "../components/Intro.astro";
// import Coconut from "../components/Coconut.astro";
import Me from "./Me.astro";
// import WaterEffects from "./WaterEffects.astro";
---

<div class="top-fold">
  <!-- <Coconut /> -->
  <Intro />
  <Me />
  <!-- <WaterEffects /> -->
</div>

<style lang="scss">
  @import "../styles/mixin.scss";

  .top-fold {
    cursor: default;
    @include bp(500) {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      // grid-gap: 1rem;
      place-content: center;
      margin-inline: auto;
      max-width: 80vw;
      align-items: flex-end;
    }
    @include bp(1024) {
      padding-bottom: rem(20);
      padding-inline: rem(30);
    }
    @include bp(1200) {
      // grid-gap: 2rem;
      max-width: rem(1200);
      padding-top: rem(70);
    }
  }
</style>
