---
import Intro from "../components/Intro.astro";
import Me from "./Me.astro";
---

<section class="top-fold">
  <Intro />
  <Me />
</section>

<style lang="scss">
  @import "../styles/mixin.scss";

  .top-fold {
    cursor: default;
    @include bp(500) {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      place-content: center;
      margin-inline: auto;
      max-width: 80vw;
      align-items: flex-end;
    }
    @include bp(1024) {
      padding-bottom: rem(20);
      padding-inline: rem(30);
    }
    @include bp(1200) {
      max-width: rem(1000);
      padding-top: rem(70);
    }
  }
</style>
