---
import * as title from "../pages/home/work.md";
import Work from "../pages/home/work.md";
import Link from "./Link.astro";
const ctaArrow = `<svg
        width="18"
        height="16"
        viewBox="0 0 18 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M1 8H17M10 1L17 8L10 15"
          stroke="black"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>`;
---

<div class="card-list">
  <p>{title.frontmatter.heading}</p>
  <Work />
  <Link
    url="/404"
    text="View Portfolio"
    className="cta"
    title="View Portfolio"
    hasIcon={ctaArrow}
  />
</div>

<style lang="scss">
  @import "../styles/mixin.scss";
  .card-list {
    p {
      font-size: rem(17);
      margin-bottom: rem(20);
      @include bp(500) {
        margin-left: rem(183);
      }
    }
  }
</style>

<style is:global lang="scss">
  @import "../styles/mixin.scss";
  .card-list {
    position: relative;

    .cta {
      > svg {
        margin-left: rem(10);
        transition: 200ms ease-in-out;
      }
      &:hover{
        > svg{
          margin-left: rem(16);
        }
      }
    }
    @include bp(1024) {
      margin-left: auto;
    }
    > ul {
      li {
        font-size: rem(15);
        display: flex;

        + li {
          margin-top: rem(15);
        }
      }
      strong {
        width: rem(75);
        font-weight: 100;
        text-align: right;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        @include bp(500) {
          width: rem(160);
        }
      }
      em {
        font-style: normal;
        color: var(--c-gray-200);
        margin-left: rem(20);
      }
    }
  }
</style>
