---
import MetaHead from "../components/MetaHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <MetaHead
      title="Jech | Web Developer and designer"
      description="My name is Jech and I'm a Freelance Web Developer and designer from the Philippines"
    />
    <style is:inline>
      .container-grid {
        display: grid;
        grid-template-areas:
          "header"
          "content"
          "footer";
        grid-template-columns: 1fr;
        grid-template-rows: 15vh 60vh calc(30vh - 2rem);
      }
      @media (min-width: 1000px) {
        .container-grid {
          grid-template-rows: 10vh 60vh calc(30vh - 4rem);
        }
      }
    </style>
  </head>
  <body>
    <div class="container-grid">
      <Header />
      <slot />
      <Footer />
    </div>
  </body>
</html>
