---
import MetaHead from "../components/MetaHead.astro";
import Header from "../components/Header.astro";
---

<html lang="en">
  <head>
    <MetaHead
      title="Jech | Web Developer and designer"
      description="My name is Jech and I'm a Freelance Web Developer and designer from the Philippines"
    />
    <style lang="scss">
      @import "../styles/mixin.scss";
      .blur {
        filter: blur(5px) opacity(0);
        transform: translate(0, -10px);
        background-image: none;
      }
      body {
        filter: blur(0) opacity(1);
        transform: translate(0, 0);
        transition: filter 300ms;
      }
      .container-grid {
        grid-template-areas:
          "header"
          "content";
        grid-template-columns: 1fr;
        grid-template-rows: 10vh 60vh;
        @include bp(1000) {
          grid-template-rows: 10vh 70vh;
          display: grid;
        }
      }
    </style>
  </head>
  <body class="blur">
    <div class="container-grid">
      <Header />
      <slot />
      <script defer>
        window.addEventListener("load", function () {
          document.body.classList.remove("blur");
        });
        window.onbeforeunload = function () {
          document.body.classList.add("blur");
        };
      </script>
    </div>
  </body>
</html>
