---
import MetaHead from "../components/MetaHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <MetaHead
      title="Jech | Web Developer and designer"
      description="My name is Jech and I'm a Freelance Web Developer and designer from the Philippines"
    />
    <style lang="scss">
      @import "../styles/mixin.scss";
      .container-grid {
        grid-template-areas:
          "header"
          "content"
          "footer";
        grid-template-columns: 1fr;
        grid-template-rows: 10vh 60vh calc(30vh - 4rem);
        @include bp(1000) {
          display: grid;
        }
      }
    </style>
  </head>
  <body>
    <div class="container-grid blur anim">
      <Header />
      <slot />
      <Footer />
      <script defer>
        const animClass = document.querySelector(".anim");
        window.addEventListener("load", function () {
          if (animClass.classList.contains("blur"))
            animClass.classList.remove("blur");
        });
      </script>
    </div>
  </body>
</html>
